@use "../../responsive.scss" as *;

.singlePage {
    display: flex;

    // ================= LEFT SIDE =================
    .details {
        flex: 3;
        height: 100%;
        overflow-y: auto;

        .property {
            border-radius: 10px;
            margin-right: 20px;

            .imageContainer {
                margin-bottom: 30px;
            }

            .info {
                .top {
                    display: flex;
                    justify-content: space-between;
                    gap: 30px;

                    margin: 50px 0px;

                    .post {
                        h1 {
                            font-size: 32px;
                            color: $primary-color;
                            margin-bottom: 10px;
                        }

                        .location {
                            color: rgb(153, 153, 153);
                            margin-bottom: 15px;
                        }

                        .price {
                            background: $button-color;
                            padding: 8px 18px;
                            border-radius: 8px;
                            font-weight: 600;
                            font-size: 18px;
                            color: $text-color;
                            display: inline-block;
                        }
                    }

                    .agentCard {
                        padding: 10px;
                        border-radius: 10px;
                        text-align: center;
                        min-width: 150px;
                        margin-right: 15px;
                        background-color: $button-color;
                        // background-color: $two-text-color;
                        // background-color: #d3e8ee;

                        img {
                            width: 80px;
                            height: 80px;
                            border-radius: 50%;
                            object-fit: cover;
                            // margin-bottom: 10px;
                            border: 3px solid $accent-color;
                        }

                        h3 {
                            color: $text-color;
                            margin-bottom: 5px;
                        }

                        p {
                            font-size: 14px;
                            color: $text-color;
                        }
                    }
                }

                .bottom {
                    .description {
                        line-height: 1.8;
                        font-size: 15px;
                        color: $primary-color;
                    }
                }
            }
        }
    }

    // ================= RIGHT SIDE =================
    .features {
        flex: 2;
        background-color: $primary-color;
        height: 100%;
        color: $text-color;
        overflow: auto;

        .wrapper {
            margin: 0px 10px;
            padding: 0px 15px;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        .title {
            margin-bottom: 30px;
            gap: 10px;

            p {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 10px;
                color: #e7e7e7;
            }
        }

        .listVertical,
        .listHorizontal {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            border-radius: 10px;
        }

        .listVertical {
            flex-direction: column;
        }

        .feature {
            display: flex;
            align-items: center;
            gap: 10px;
            background-color: #e7e7e7;
            padding: 6px 10px;
            border-radius: 12px;
            transition: 0.3s ease;
            // align-items: center;

            img {
                width: 24px;
                height: 24px;
            }

            .featureText {
                span {
                    font-weight: 500;
                    font-size: 14px;
                    color: $primary-color;
                }

                p {
                    font-size: 13px;
                    color: $primary-color;
                }
            }
        }

        .sizes {
            display: flex;
            gap: 5px;

            .size {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                background-color: #e7e7e7;
                color: #000;
                padding: 17px 5px;
                border-radius: 12px;

                img {
                    width: 20px;
                    height: 20px;
                }

                span {
                    font-weight: 500;
                }
            }
        }

        .mapContainer {
            .leaflet-container {
                width: 100%;
                height: 250px;
                background: rgba(255, 255, 255, 0.247);
            }
        }

        .buttons {
            display: flex;
            gap: 15px;

            .savePost {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                padding: 12px;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                font-weight: 500;
                transition: 0.3s ease;
                background: $button-color;
                color: white;

                &:hover {
                    opacity: 0.8;
                }

                img {
                    width: 18px;
                    height: 18px;
                    filter: brightness(0) invert(1);
                }

                &.saved {
                    background-color: $notification-color;
                }
            }
        }
    }

    // ================= RESPONSIVE =================

    @include lg {
        flex-direction: column;
        height: 100vh;
        overflow-y: auto;

        .features {
            order: -1;
            margin-bottom: 30px;
        }

        .features,
        .details {
            height: max-content;
            flex: none;
        }
    }

    @include md {
        padding: 20px;

        .details .info .top {
            flex-direction: column;
        }

        .features .sizes {
            flex-direction: column;
        }

        .features .buttons {
            flex-direction: column;
        }
    }

    @include sm {
        // gap: 20px;
    }
}
