@use "../../responsive.scss" as *;

.homePage {
    display: flex;
    height: 100%;

    @include md {
        flex-direction: column;

        // .textContainer {
        //     margin-top: 75%;
        // }

        // .imageContainer {
        //     order: -1;

        //     img {
        //         position: static;
        //     }
        // }
    }

    // @include sm {
    //     .textContainer {
    //         margin-top: -15%;
    //     }
    // }

    .textContainer {
        flex: 3;

        @include sm {
            margin-top: -15%;
        }

        .wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 50px;

            @include lg {
                gap: 25px;
            }

            @include md {
                justify-content: flex-start;
                margin-top: 30px;
                gap: 35px;
            }

            @include sm {
                margin-top: 15%;
            }

            .appName {
                font-family: "Bad Script", cursive;
                font-weight: 300;
                font-size: 70px;
                color: $primary-color;
            }

            .appName {
                @include sm {
                    font-size: 50px;
                }
            }

            .title {
                color: $button-color;

                @include lg {
                    font-size: 28px;
                }

                @include md {
                    // margin-top: -10%;
                    font-size: 36px;
                    // font-size: 24px;
                }

                @include sm {
                    font-size: 30px;
                }
            }

            p {
                padding-right: 150px;

                @include lg {
                    padding-right: 75px;
                }

                @include md {
                    // display: none;
                    padding-right: 0px;
                }
            }

            .boxes {
                display: flex;
                justify-content: space-between;
                margin-right: 100px;

                @include lg {
                    margin-right: 30px;
                }

                h1 {
                    font-size: 32px;
                    color: $button-color;

                    @include lg {
                        font-size: 26px;
                    }
                }

                h2 {
                    font-size: 18px;
                    font-weight: 200;

                    @include lg {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .imageContainer {
        flex: 2;
        background-color: $primary-color;
        position: relative;
        display: flex;
        align-items: center;

        @include md {
            background-color: transparent;
            height: 250px;
        }

        img {
            width: 135%;
            position: absolute;
            right: -10%;

            @include xxl {
                margin-top: -20px;
            }

            @include lg {
                margin-top: -95px;
            }

            @include md {
                // width: 100%;
                // top: 30%;
                // left: 0;
                display: none;
            }

            // @include sm {
            //     top: 0%;
            // }
        }
    }
}
