@use "../../responsive.scss" as *;

.listPage {
    display: flex;
    height: 100%;

    .listContainer {
        flex: 3;
        height: 100%;

        .wrapper {
            height: 100%;
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            gap: 20px;
            padding-bottom: 30px;
        }
    }

    .mapContainer {
        flex: 2;
        height: 100%;
        background-color: $primary-color;
    }
}
