@use "../../responsive.scss" as *;

.listPage {
    display: flex;
    height: 100%;

    .listContainer {
        flex: 3;

        .wrapper {
            height: 100%;
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            gap: 20px;
            padding-bottom: 30px;

            &::-webkit-scrollbar {
                width: 6px;
            }

            &::-webkit-scrollbar-thumb {
                background: $accent-color;
                border-radius: 10px;
            }

            .loader {
                animation: spin 1s linear infinite;
                margin: auto;
            }

            @keyframes spin {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(360deg);
                }
            }
        }
    }

    .mapContainer {
        flex: 2;
        height: 100%;
        background-color: $primary-color;

        // @include lg {
        //     display: none;
        // }
        .wrapper {
            height: 100%;
            border-radius: 10px;
            padding-top: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            .loader {
                animation: spin 1s linear infinite;
                color: aliceblue;
            }

            @keyframes spin {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(360deg);
                }
            }
        }
    }
}

@include lg {
    .listPage {
        flex-direction: column;
        flex: none;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-thumb {
            background: $accent-color;
            border-radius: 10px;
        }

        .mapContainer {
            order: -1;
            margin-bottom: 30px;
            flex: none;
            .wrapper {
                padding-top: 10px;
            }
        }
        .listContainer {
            flex: none;
            padding-bottom: 20px;
            .wrapper {
                padding-right: 0px;
            }
        }
    }
}
